/* Define the fade-in animation */
:root {
    --bounceIn: 0.25,1,0.5,1;
    --bounceOut: 0.5,2,0,1;
    --absoluteInOut: 1,0,0,1;
    --easeOut: 0.25,1,0.25,1;
    --easeIn: 0.75,0,0.75,0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity:0;
        scale: 0.75;
    }
    to {
        opacity:1;
        scale: 1;
    }
}

@keyframes scaleInBlur {
    from {
        opacity: 0;
        filter: blur(100px);
        scale: 0.75;
    }
    to {
        filter: none;
        scale: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.scale-in-blur {
    animation: scaleIn .35s cubic-bezier(var(--bounceOut)) forwards;
}

.fade-in-but-faster {
    opacity:0;
    animation: fadeIn 0.25s ease-in forwards;
}

.shake-hover {
    display: inline-block; /* Optional: allows the effect to apply correctly */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.shake-hover:hover {
    animation: shake 0.5s ease-in-out infinite; /* Apply the shake animation on hover */
}

@keyframes shake {
    0% {
        transform: rotate(-.5deg);
    }
    25% {
        transform: rotate(.5deg);
    }
    50% {
        transform: rotate(-.5deg);
    }
    75% {
        transform: rotate(.5deg);
    }
    100% {
        transform: rotate(-.5deg);
    }
}

/* ABSOLUTE IN OUT : cubic-bezier(1,0,0,1) */
