@import "animations.css";
@import "custom.css";
@import "font-faces.css";
@import "/assets/fonts/inter/inter.css";
/*@import "TechitUI.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply antialiased;
    font-family: 'Inter', 'Noto Sans Thai', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 17px;
    font-optical-sizing: auto;
    font-style: normal;
    font-feature-settings: 'liga' 1, 'calt' 1, 'case' 1, 'ss01' 1, 'ss02' 1, 'ss03' 1, 'cv06' 1, 'cv10' 1, 'cv11' 1;
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

.b-link {
    @apply border-b border-dashed hover:border-solid border-black dark:border-white;
}
.b-div {
    @apply border-black dark:border-white border-opacity-10 dark:border-opacity-10;
}

.bg-aurora {
    background-image: image('https://files.techit.win/images/background/AuroraScratch@2x.png');
}

.badge-padding {
    @apply px-3 py-4;
}

#container, #hero {
    h0 {
        @apply text-[3.5rem] font-bold mt-4 mb-2
    }

    h1 {
        @apply text-5xl font-bold mt-4 mb-2;
    }

    h2 {
        @apply text-4xl font-semibold mt-4 mb-2;
    }

    h3 {
        @apply text-3xl font-semibold mt-4 mb-2;
    }

    h4 {
        @apply text-2xl font-medium mt-4 mb-2;
    }

    h5 {
        @apply text-xl font-medium mt-4 mb-2;
    }

    h6 {
        @apply text-base font-medium mt-4 mb-2;
    }
    h0,h1,h2,h3,h4,h5,h6 + .no-margin {
        @apply tracking-tight m-0;
    }
}

.wdth-150 {
    font-variation-settings: "wdth" 150;
}

.wdth-75 {
    font-variation-settings: "wdth" 75;
}

.bento-p {
    @apply px-6 py-6 leading-tight;
}

.line-height-1 {
    line-height: 3.5rem;
}

.ice {
    @apply bg-slate-100 bg-opacity-90 dark:bg-slate-900 dark:bg-opacity-90 border-black dark:border-white dark:border-opacity-10 border-opacity-10 backdrop-blur-lg;
}

#container {
    @apply flex justify-center py-4 w-full;
    align-items: center;
    #wrapper {
        @apply p-2;
        max-width: 1024px;
        width: 100%;
    }
    #wrapper2 {
        @apply flex flex-col items-center gap-8 z-[1] max-w-[1024px] p-4 w-full;
    }
}
#hero {
    @apply py-24 flex justify-center w-full;
    #wrapper {
        @apply p-4;
        max-width: 1024px;
        width: 100%;
    }
}
* ::selection {
    @apply bg-black text-white dark:bg-white dark:text-black;
}