@import "animations.css";
@import "custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply antialiased;
    font-family: 'Inter', 'Noto Sans Thai', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 20px;
    font-optical-sizing: auto;
    font-style: normal;
    font-feature-settings: 'liga' 1, 'calt' 1, 'case' 1, 'ss01' 1, 'ss02' 1, 'ss03' 1;
    font-variation-settings: "wdth" 100;

    --nuxt-color-primary: 74,222,128;
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

.b-link {
    @apply border-b border-dashed hover:border-solid border-black dark:border-white;
}
.b-div {
    @apply border-black dark:border-white border-opacity-10 dark:border-opacity-10;
}

.bg-aurora {
    background-image: image('https://files.techit.win/images/background/AuroraScratch@2x.png');
}

#container {
    h0 {
        @apply text-[3.5rem] font-bold mt-4 mb-2
    }

    h1 {
        @apply text-5xl font-bold mt-4 mb-2;
    }

    h2 {
        @apply text-4xl font-semibold mt-4 mb-2;
    }

    h3 {
        @apply text-3xl font-semibold mt-4 mb-2;
    }

    h4 {
        @apply text-2xl font-medium mt-4 mb-2;
    }

    h5 {
        @apply text-xl font-medium mt-4 mb-2;
    }

    h6 {
        @apply text-base font-medium mt-4 mb-2;
    }
    h0,h1,h2,h3,h4,h5,h6 + .no-margin {
        @apply tracking-tight m-0;
    }
}

.wdth-150 {
    font-variation-settings: "wdth" 150;
}

.wdth-75 {
    font-variation-settings: "wdth" 75;
}

.main-border {
    @apply border border-black border-opacity-10 dark:border dark:border-white dark:border-opacity-10
}

.main-border-b {
    @apply border-b border-black border-opacity-10 dark:border dark:border-white dark:border-opacity-10
}

.main-border-t {
    @apply border-t border-black border-opacity-10 dark:border dark:border-white dark:border-opacity-10
}

.main-border-l {
    @apply border-l border-black border-opacity-10 dark:border dark:border-white dark:border-opacity-10
}

.main-border-r {
    @apply border-r border-black border-opacity-10 dark:border dark:border-white dark:border-opacity-10
}

.main-border-x {
    @apply border-x border-black border-opacity-10 dark:border dark:border-white dark:border-opacity-10
}

.main-border-y {
    @apply border-y border-black border-opacity-10 dark:border dark:border-white dark:border-opacity-10
}

.main-border,.main-border-t,.main-border-b,.main-border-x,.main-border-y,.main-border-l,.main-border-r,.main-border-x,.main-border-y {
    @apply rounded-md overflow-hidden
}

.bento-p {
    @apply px-6 py-6 leading-tight;
}

.border-primary {
    border-color: rgba(var(--nuxt-color-primary), 1);
}

.line-height-1 {
    line-height: 3.5rem;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

* ::selection {
    background-color: black !important;
    color: white !important;
}

@media (prefers-color-scheme: dark) {
    * ::selection {
        background-color: white !important;
        color: black !important;
    }
}